<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--<bean id=""></bean>-->

    <context:annotation-config/>
    <!--//构造器注入，无法解决循环依赖-->
    <!--<bean id="testA" class="org.javacore.circle.TestA">-->
    <!--<constructor-arg index="0" ref="testB"/>-->
    <!--</bean>-->
    <!--<bean id="testB" class="org.javacore.circle.TestB">-->
    <!--<constructor-arg index="0" ref="testC"/>-->
    <!--</bean>-->
    <!--<bean id="testC" class="org.javacore.circle.TestC">-->
    <!--<constructor-arg index="0" ref="testA"/>-->
    <!--</bean>-->
    <alias name="testA" alias="testa"/>
    <bean id="testA" class="org.javacore.circle.TestA">
        <property name="testB" ref="testB"></property>
    </bean>
    <bean id="testB" class="org.javacore.circle.TestB">
        <property name="testC" ref="testC"/>
    </bean>
    <bean id="testC" class="org.javacore.circle.TestC">
        <property name="testA" ref="testA"/>
    </bean>

    <bean id="user" class="org.javacore.reflection.User" />
</beans>
